.staff-card{

    margin: 30px;
    margin-bottom: 10px;
    padding:3px;
    width: 150px;
    height: 200px;
    background-color: #efefef;
    border-color: #6f6f6f90 !important;
    background-clip: padding-box;
    border-radius: 5px;
    border-left: 1px;
    border-top: 0;
    border-right: 4px;
    border-bottom: 3px;
    border-style: solid;
    display: block;
    float: left;
    text-align: center;
}

.staff-card p{
    color: #e92c2c;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.ico{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}